$primary:#a29bfe;
$seconday:#dfe6e9;
$main:#1a1720;
$text:rgb(62, 51, 119);
$span:#e7f26f;
$button:#2ed573;


#contact{
    background-color: #dfe6e9;
    .contact-wrapper{
        padding: 1rem 0;
            display: flex;
            width: 100%;
            // justify-content: center;
            flex-direction: column;
            align-items: center;
           
            .contact-content{
           
                line-height: 4rem;
                h1{
                    color: $text;
                    font-size: 2.725rem;
                    font-size: 800;
                    letter-spacing: 2px;
                    text-align: center;
                }

                p{
                    font-size: 1rem;

                    color: lightslategray;
                }
              
            }
            .main-contact{
                .container{
                       background-color: $main;
                       border-radius: 5px;
                       .row{
                        padding: 0.5rem;
                       }
                }
                font-size: 1rem;
                width: 100%;
                align-self: flex-start;
             

                .left-contact{
                    border-radius: 3%;
                    background-image: url(/images/cricle1.svg);
                    background-position: 50% -7%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    // margin: 0.5rem;
                    
                    .title-content{
                        padding: 0 1.725rem;
                        // padding-top: 2rem;
                        h1{
                            color: $seconday;
                            font-weight:500 ;
                            padding-top: 1rem;

                        }
                        p{
                            font-size: 1rem;
                            color: $seconday;
                        }
                    }
                    .lists{
                        padding: 2rem 2.5rem;
                        display: flex;
                        flex-direction: column;

                        i{
                            color: $button;
                            font-size: 1.5rem;
                        }
                        .litem{
                            // color: red;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            padding: 1rem 0;
                            list-style: none;

                            i{
                                color: $button;
                                font-size: 1.5rem;
                                transform: scale(1);
                                transition: all .2s ease-in-out;
                            }
                            p{
                                padding: 0 3rem;
                                font-size: 1.125rem;
                                color: $seconday;
                            }
                            &:hover{
                                 i{
                                    transform: scale(1.5);
                                    color: $main;
                                }
                            }
                        }
                    }
                    .icons{
                      
                        padding: 1.5rem 0;
                        display: flex;
                        width: 100%;
                        width: 80%;
                        margin: auto;
                        justify-content: space-evenly;
                        i{
                            color: white;
                            font-size: 1.325rem;
                           
                        }
                        .fb{
                            // background-color: red;
                            clip-path: circle();
                            transform: scale(1);
                            transition: all .2s ease-in-out;
                            i{
                                color: white;
                                //  font-size: 1.325rem;  
                                transition: all .2s ease-in-out;
                               
                            }

                            &:hover{
                                i{
                                    color: #4267B2;
                                    
                                }
                                transform: scale(2);
                            }
                        }

                        .insta{
                            // background-color: red;
                            // clip-path: circle();
                            
                            transform: scale(1);
                            transition: all .2s ease-in-out;
                            i{
                                color: white;
                                //  font-size: 1.325rem;  
                                transition: all .2s ease-in-out;
                               
                            }

                            &:hover{
                                i{
                                    background: #d6249f;
                                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                                    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                                    -webkit-background-clip: text;
                                    /* Also define standard property for compatibility */
                                            background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    
                                }
                                transform: scale(2);
                            }
                        }

                        .twitter{
                           
                           
                            transform: scale(1);
                            transition: all .2s ease-in-out;
                            i{
                                color: white;
                                //  font-size: 1.325rem;  
                                transition: all .2s ease-in-out;
                               
                            }

                            &:hover{
                                i{
                                    color: #1DA1F2;
                                    
                                }
                                transform: scale(2);
                            }
                        }

                        .linked{
                           
                           
                            transform: scale(1);
                            transition: all .2s ease-in-out;
                            i{
                                color: white;
                                //  font-size: 1.325rem;  
                                transition: all .2s ease-in-out;
                               
                            }

                            &:hover{
                                i{
                                    color: #1DA1F2;
                                    
                                }
                                transform: scale(2);
                            }
                        }
                       
                    }
                }
                .forms{
                    color: $primary;

                    .first-name{
                        position: relative;
                        padding: 1rem;

                        .label{
                            position: absolute;
                            top: 0;
                            left: 1rem;
                        }
                        .input{

                            position: relative;
                            top: 15px;
                            left: 0;
                            
                            color: white;
                            padding: .5rem ;
                            border: 2px solid $button;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            background-color: #a29bfe00;
                            width: 80%;
                            outline: none;
                            transition: all .2s ease-in-out;
                            
                            &:focus{
                                // position: absolute;
                               padding: 1rem 1rem 0;
                                width: 90%;
                                // background-color: $button;
                                

                            }
                            
                        }
                    }

                    .email{
                        position: relative;
                        padding: 2rem 1rem;

                        .label{
                            position: absolute;
                            // top: 10px;
                            // left: 1rem;
                        }
                        .input{

                            position: relative;
                            top: 15px;
                            left: 0;
                            
                            color: white;
                            padding: .5rem ;
                            border: 2px solid $button;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            background-color: #a29bfe00;
                            width: 80%;
                            outline: none;
                            transition: all .2s ease-in-out;
                            
                            &:focus{
                                // position: absolute;
                               padding: 1rem 1rem 0;
                                width: 90%;
                                // background-color: $button;
                                

                            }
                            
                        }
                    }
                    .area{
                        position: relative;
                        // padding: 1rem;
                        color: $text;
                      
                        .label{
                            position: absolute;
                            top: 0;
                            left: 2rem;
                           
                             
                        }
                        .textarea{

                            // position: absolute;
                            // top: 15px;
                            // left: 0;
                            // margin: 1rem 0;
                            color: white;
                            padding: .5rem ;
                            border: 2px solid $button;
                            // border-top: 0;
                            // border-left: 0;
                            // border-right: 0;
                            background-color: #a29bfe00;
                            width: 100%;
                          
                            transition: all .2s ease-in-out;
                            
                           
                            &:focus{
                                // position: absolute;
                               padding: 2rem 1rem 0;
                                // width: 90%;
                                outline: none;
                                // background-color: red;
                                

                            }
                            
                        }
                     
                    }
                    .button{
                        button{
                            color: $primary;
                            // padding: .5rem 1rem;
                            font-size: 1.125rem;
                            font-weight: 530;
                            transition: all .2s ease-in-out;

                            &:hover{
                                color: $text;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
            }
    }
}